*{
    box-sizing: border-box;
    border-radius: 5pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: white;

}
.wrap{
    width: 400px;
    margin: auto;
    height: auto;
    background: whitesmoke;
    padding: 15px;
}

input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 3px;
    border-radius: 2px;
}

input[type=button]{
    width:80px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 3px ;
}


#evaluate{
    background-color: deepskyblue;
}
#add{
    background-color: black;
    color: white;
}

#root{
    background-color: black;
    color: white;
}

#divi{
    background-color: black;
    color: white;
}
#del{
    background-color: black;
    color: white;
}
#or{
    background-color: black;
    color: white;
}
#sub{
    background-color: black;
    color: white;
}
#mul{
    background-color: black;
    color: white;
}